body { 
    background-image: url("img/oceanchess.jpg");
}
#nom {
  font-family: "Sofia", sans-serif;
  color: aqua;
  font-size: 52px;
  text-align: center;
  
}
#fonction {
  text-align: center;
  font-family: "Sofia", sans-serif;
  color:aliceblue;
  font-size: 36px;
}

