body { 
    background-color: #f5f7fa;
}

#avatar-row {
	margin : 1em;
}
#frede {
	
	font-family: 'Libre Baskerville', serif;
	color: #591fce;
	font-size: 52px;
	text-align: left;
  
}
#moi {
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  color:#7c73e6;
  font-size: 36px;
}
.like {
	margin-top : 3em;
}
a {
	color : white;
}

.custom_navbar {
	background-color: #7c73e6;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}